mixin logo(logo)
    if logo === "trustedby"
        img(src="https://res.cloudinary.com/dokwefr5i/image/upload/v1678835561/Remoteok/trusted_by_c0cozc.png", alt="Trusted by")

    if logo === "amazon"
        img(src="https://res.cloudinary.com/dokwefr5i/image/upload/v1678835561/Remoteok/amazon_t7nweo.png", alt="Amazon logo")
        
    if logo === "gh"
        img(src="https://res.cloudinary.com/dokwefr5i/image/upload/v1678835561/Remoteok/github_a3zet5.png", alt="Github logo")
        
    if logo === "indeed"
        img(src="https://res.cloudinary.com/dokwefr5i/image/upload/v1678835561/Remoteok/indeed_rfatjv.png", alt="Ideeed logo")

    if logo === "upwork"
        img(src="https://res.cloudinary.com/dokwefr5i/image/upload/v1678835561/Remoteok/upwork_vsyklx.png", alt="Upwork logo")
        
    if logo === "shopify"
        img(src="https://res.cloudinary.com/dokwefr5i/image/upload/v1678835561/Remoteok/shopify_ykrvyj.png", alt="Shopify logo")
        
    if logo === "stripe"
        img(src="https://res.cloudinary.com/dokwefr5i/image/upload/v1678835561/Remoteok/stripe_g0hqfg.png", alt="Stripe logo")
        
    if logo === "angellist"
        img(src="https://res.cloudinary.com/dokwefr5i/image/upload/v1678835561/Remoteok/angellist_jbqcn5.png", alt="Angellist logo")
        
